/* Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  padding: 0 20px;
  margin: auto;
  overflow: auto;

}

/* Main Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  height: 1000px;
  /* background-color: rgb(0, 0, 0); */
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

/* ----------------------- */

/* Utility/Reuse class */
.btn {
  display: inline-block;
  font-size: 18px;
  background: #333;
  color: #fff;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #f7c08a;
  color: #333;
}

.btn-light {
  background-color: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-primary {
  color: #333;
  background: #f7c08a;
}

.clr {
  clear: both;
}

.text-primary {
  color: #f7c08a;
}

.py1 {
  padding: 10px 0;
}

.py2 {
  padding: 20px 0;
}

.py3 {
  padding: 30px 0;
}

.l-heading {
  font-size: 40px;

  /* line-height: 1.2; */
}


/* ---------------------- */

/* Navbar */
#navbar {
  background-color: #333;
  color: #fff;
  overflow: auto;
  /* border-bottom: 1px solid wheat;
  position: fixed;
  width: 100%; */


}

#navbar a {
  color: #fff;
}

#navbar .logo {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {

  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background-color: #444;
  color: #f7c08a;
}


/* ---------------------------- */

/* Show Case */
.showcase {
  background: url(../images/showcase.jpg) no-repeat center center/cover;
  padding-top: 170px;
  text-align: center;
  color: #fff;
  height: 600px;
}

.showcase h1 {
  line-height: 1.2em;
  font-size: 60px;
}

.showcase span {
  color: #f7c08a;
}

.showcase p {
  padding-bottom: 20px;
  line-height: 1.7em;
}

.lead-text {
  font-size: 20px;
  margin: 10px 0;
}

/* ------------------------ */

/* Info Section */
.home-info {
  height: 400px;
}

.home-info .home-info-left {
  float: left;
  width: 50%;
  background: url(../images/photo-1.jpg) no-repeat;
  min-height: 100%;
}

.home-info .home-info-right {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
}

.home-info .home-info-right p {
  padding-bottom: 30px;
}

.home-info-title span {
  color: #f7c08a;
}


/* Features Section */
.features {}

.box {
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align: center;
}

.box i {
  margin-bottom: 10px;
}

/* -------------- */

/* About Page */
.about-info .info-left {
  float: left;
  width: 50%;
  min-height: 100%;
}

.about-info .info-right {
  float: right;
  width: 50%;
  min-height: 100%;
}

.about-info .info-right img {
  width: 70%;
  display: block;
  margin: auto;
  border-radius: 50%;
}


/* Testimonial */
.testimonial {
  height: 600px;
  background: url(../images/test-bg.jpg) no-repeat center center/cover;
  padding-top: 100px;
}

.testimonial .testimonial-main {
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  opacity: 0.9;
}

.testimonial .testimonial-main img {
  width: 100px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.testimonial h2 {
  color: #fff;
  text-align: center;
  padding-bottom: 40px;
}

/* --------------- */
/* Contact Page */
.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;

}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #f7c08a;

}

.contact-form textarea {
  height: 200px;
}

.contact-info {
  background-color: #333;
  color: #fff;
}




/* Footer */
.footer {
  text-align: center;
  background-color: #444;
  color: #fff;
  padding: 20px;
}